@import url("RobotoSlab.css")

//color variables
$darker-blue: #212524
$dull-blue: #54678F
$light-blue: #9199BE
$dark-blue: #2E303D
$grey: #6C6B73

//font-family
*
  font-family: "Roboto Slab"

i
  font-size: 1.5em

.vertical-center
  margin: 0
  position: absolute
  top: 50%
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

//general styles -> body, html
html, body
  height: 100%
  width: 100vw
  overflow-x: hidden
  background: $dark-blue
  color: white

  h2, h4, p, a
    color: white
    font-family: "Roboto Slab"

  h2
    margin: 20px 0

//nav styles
nav
  background: $dark-blue !important
  padding: 0 1em

  a, i, p
    color: white !important
    font-family: "Roboto Slab" !important

  .uk-navbar-brand
    font-size: 1.4em

  .uk-navbar-nav
    li
      a
        font-weight: 300

  .uk-navbar-content
    input, button
      border-radius: 5px


//main content
main
  margin-top: 2em

  .container
    max-width: 90%

    .headline-section
      height: 15em
      padding-top: 5%

      h2
        margin: 0

      .uk-list
        li
          margin: .5em 0

    .about-section
      .about-title
        text-align: center
        margin-bottom: 20px

      .about-panels
        background: $darker-blue
        border-radius: 10px

        .uk-grid
          .uk-width-1-2:nth-child(2)
            border-left: 1px solid $grey

        .uk-panel
          padding: 2.5em 0
          text-align: center

    .resources-section
      margin-top: 1.5em

      .resources-title
        text-align: center

      .assets
        margin: 0 35px

        .assets-section
          .assets-grid
            text-align: center

            .uk-width-1-2
              padding: 1em 0

              .asset-item
                margin: 0 1em
                padding: 1em 0
                background: linear-gradient(180deg, $dark-blue, $darker-blue)

        .assets-main
          text-align: center
          padding-top: 5%

          img
            height: 200px

      .browse-asset-pack-title
        padding-left: 35px

      .browse-asset-pack
        padding: 1em

        button
          margin-top: 1em

        .asset-pack
          padding: 1em .5em
          border: 2px dashed $light-blue
          border-radius: 5px

    .team-section
      text-align: center
      margin: 1.5em 0

      .team-members
        margin-top: 1em

        .team-member-panel
          border-radius: 20px 0 20px 0
          border: 2px solid $light-blue
          padding: 1em 0

    .pricing-section
      margin: 1.5em 0

      .pricing-title
        text-align: center

      .pricing-details
        i
          color: $light-blue

        h4
          text-align: center

        ul
          li
            padding: .5em 0
    .contact-section
      margin: 1.5em 0

      .contact-section-title
        text-align: center

      .contact-info
        border: 2px solid $light-blue
        border-radius: 10px
        padding: 1em

        i,a
          margin-right: .5em

          &:hover,
          &:focus
            color: $light-blue
            cursor: pointer
            transition: all ease-in-out 200ms